<app-header></app-header>
<section class="bg-container">
    <div class="container">
        <div class="success-card">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-msg">
                        <p>Verify your email address clicking the button below.</p>
                        <p style="font-style: italic;color: #a9a9a9;">if you still have any questions, please write to
                            us at <a href="#"> lylli.cares@lyllilaunchtools.com </a></p>
                        <a (click)="Verify()" class="btn btn-primary rounded-pill">Verify Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>