<app-header></app-header>

<section class="privacycon">
    <div class="secuBanner bg-container">
        <div class="container text-center" style="max-width: 800px;">
          <h2>You've Got Questions. We've Got Answers.</h2>
        </div>
    </div>

    <div class="container py-5">
        
        <div class="faqcontainer container">
          <div class="text-center heading-w mb-5">
            <h4>Generally Asked Question (FAQs)</h4>
          </div>
            <div class="collapsiblePanel">
              <div class="row">
                <div class="col-lg-6">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Why Do I Need 'Another' Tool?</mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>Lylli Launchpad is not 'another' tool. it has been created to effectively serve the Pharmaceutical (Pharma) & Life sciences Industry to help the industry to manage the various complexities of a Product Launch. There isn't anything like this that offers this level of service and focus to the Pharma & Life science Industry. All elements of a complex Product Launch in is one easy to access dashboard.Lylli Launch Tools has been designed to facilitate and expedite seamless communication and collaboration between team members, while providing visual snapshots which inform senior management decisioning. Learn more on the <a routerLink="/features">Features</a> page.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Is it easy to use?</mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>Yes! We think so. Our founders are the most non-technical people you can think of. The Lylli Launch Tools tool was designed to make your life easier and we're confident you'll agree with us after you use the tool for a while</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>How many team members does Lylli Launch Tools support?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>As many as you'd like to add to your payment plan. That's the beauty of Lylli Launch Tools, you add as many team members as you need.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>What are the payment options?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad offers two payment options. You choose whether to pay Monthly or Annually. You will see more savings if you opt for the Annual plan. </p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Is Lylli Launch Tools expensive?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad is not expensive. Our users tell us  that the pricing is fair and affordable, and this was by design.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>What support can I expect?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>At Lylli Launch Tools we're offering complimentary email support & video call support to admins for 2 weeks for Annual Plan customers. TheLylli Launch Tools team have a detailed FAQ section which contains easy to understand resources in text, images (diagrams)  and instructional videos that show you how to do things rather than just tell you how to do it.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Will I get help to set this up for my organization?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Yes if you select the  'done with you option'. With this option you will have a Lylli Launch Tools dedicated team member who will work with you to set up your first Goal, through to a key activity.Lylli Launch Tools offers our Corporate and Enterprise clients on annual plans get a dedicated account manager to assist with ongoing troubleshooting </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>What size of organization is Lylli Launch Tools ideal for?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad is ideal for small teams that range from 1-5 people, as well as larger teams of 15- 55 people and anywhere in between.Lylli Launch Tools serves both Startup and Enterprise clients</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>What Industry is Lylli Launch Tools built for?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad was exclusively designed to serve Pharmaceutical (Pharma) & Life Science Industry verticals.The Lylli Launch Tools team wanted to develop a tool dedicated to your industry needs.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>What Problem does Lylli Launch Tools Solve?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad helps the Program or Project Manager to Map and Plan out a Product Launch quickly and effectively, while managing the complexity involved in a product launch within a matrix organization with teams in different geographies and time zones. </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Can I use this on my phone or ipad?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launch Tools can be used on these devices, but the experience won't be optimal. It is best experienced on Larger screens like laptops and desktops.</p>
                        <div class="faq-img">
                          <img src="../../assets/images/fre.png" class="img-fluid"/>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Who is this meant for?  Who's the Ideal Client?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad can be used by any team that wants to effectively manage a successful product launch. Our ideal clients are in the Pharmaceutical (Pharma) and Life Science industry verticals.  Any Pharmaceutical (Pharma) or Life Science team who wants to record and track their product launch strategic planning progress can use. It can also be used for individual projects if required.</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                <div class="col-lg-6">
                  <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>How much time will it take to learn this tool/software? </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Yes we'll work with </p>
                        <p>Lylli Launchpad is intuitive and we estimate you will be up and running within the first 15 minutes and become an expert by the end of the first day of using the software. </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Why should I use this when i can do the same thing on a spreadsheet like Google Sheets or Microsoft Excel? </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Spreadsheets get overly cumbersome and sharing is not always easy. Sharing on phone etc is difficult. With Lylli Launch Tools everything is in one place within the software and multiple users can use it at the same time.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>How is Lylli Launch Tools different?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>At Lylli Launch Tools we've focussed on making this as user friendly as possible. We ourselves like things to be easy to use. Because our consulting team help our Pharmaceutical (Pharma) and Life science clients develop the strategy and implement the strategic plan, we had a vested interest in developing a tool that can be used by our clients to support their product launch success.</p>
                        <div class="faq-video">
                          <iframe width="900" height="250" style="width: 100%;"  src="https://www.youtube.com/embed/1BlC-N7PXTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Is this a tool just for Project Managers?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad is a tool for the whole team, including senior Leadership if required. It gives line of sight across the product launch for anyone who needs to see it, depending on their permissions.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>What's In It for me? What will Lylli Launch Tools do for me? </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad makes the complex, manageable and helps you look like a rockstar with your team and Senior Managers.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Will I get help setting this up?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Yes, the Lylli Launch Tools team are offering complimentary support for 2 weeks for Annual Plan customers.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Is it truly Global; does it cover every region? </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Yes. The Lylli Launch Tools software is available to users from all countries, depending on their internet connection speed.</p>
                    </mat-expansion-panel>


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Where will the software reside - server?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad is hosted on AWS - Amazon Web Services. The AWS service offers 99.9999% uptime guarantee. Lyli Launchpad is hosted on US servers.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Who are the Founders?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lynn Donaldson and Rajiv Jadhav. Rajiv has stewarded a variety of product launches both on the agency side and the client side for Fortune 50 Global Companies like Unilever, Procter & Gamble, Disney, Times Group, Suzuki, Citi, etc. and knows how easy it is for things to fall through the cracks if not managed appropriately.</p>
                        <p>Lynn Donaldson has over 25 years working in the Life Science industry and has supported clients through successful product launches in many therapeutic areas. The team provide consulting support to help teams define the team with the right leadership and skills, develop the strategy and then implement that strategy to a successful product launch.</p>
                        <p>One of the Product Launches that Lynn's team worked on surpassed it's targets by $1.2BN at launch.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>How will I be able to use to generate senior management presentations?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad generates visual timelines presented in Gantt, Kanban and list view. Screenshots of these can be downloaded as image files and to be inserted into presentations for Senior Management.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>What reports will it generate?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad reports are in the Gantt, Kanban or if desired downloadable in CSV format, depending on your requirements.</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>How will my team be kept accountable?</mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lylli Launchpad has build in RACI (Responsible, Accountable, Consulted, Informed). It is the responsibility of the Program/Project Manager or Admin to check tasks are being completed and according to the timelines.</p>
                    </mat-expansion-panel>

                  </mat-accordion>
                </div>
              </div>
                
            </div>
        </div>
    </div>
</section>

<section class="video-resources">
  <div class="container">
    <div class="text-center heading-w mb-5">
        <h2>Video Resources</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="video-con">
          <iframe width="900" height="350" style="width: 100%;"  src="https://www.youtube.com/embed/1BlC-N7PXTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="video-con">
          <iframe width="900" height="350" style="width: 100%;"  src="https://www.youtube.com/embed/1BlC-N7PXTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq-cta">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center">
      <a routerLink="/contact" class="btn btn-secondary">Request a Live Demo</a>
      <a href="https://www.linkedin.com/groups/9130303/" target="_blank" class="btn btn-secondary">Post Question in Linkedin Community</a>
      <a routerLink="/contact" class="btn btn-secondary">Email Tech Support</a>
      <a routerLink="/contact" class="btn btn-secondary">Request a Tech Support Call-back</a>
      <a href="https://tawk.to/chat/61eae9b8b9e4e21181bb3643/1fpuq1u4k" target="_blank" class="btn btn-secondary">Live Chat</a>
    </div>
  </div>
</section>


<app-footer></app-footer>
