<app-header></app-header>
<div class="features-container">
    <div class="abBanner">
        <div class="container">
          <div class="d-lg-flex align-items-center">
              <div class="abheroimg order-lg-last"><img src="../../assets/images/features.png" style="max-height: 370px;"/></div>
              <div class="abba-txt">
                  <h2>Pharma Product Launch Planning Simplified</h2>
              </div>
          </div>
        </div>
    </div>

    <section class="dark-bg-light featuresblocks">
        <div class="container">
            <div class="featuresblock-left">
                <div class="row">
                    <div class="col-lg-5"><img src="../../assets/images/dashabord.png" class="img-fluid"/></div>
                    <div class="col-lg-7 align-self-center">
                        <h4>Dashbaord</h4>
                        <p>Pharma clients love to see all product launch information neatly arranged & organized in one place which helps to inform management decisioning</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featuresblocks">
        <div class="container">
            <div class="featuresblock-left">
                <div class="row">
                    <div class="col-lg-5 order-lg-last"><img src="../../assets/images/dashabord.png" class="img-fluid"/></div>
                    <div class="col-lg-7 align-self-center">
                        <h4>Manage Several Product Launches</h4>
                        <p>Senior Management can quickly have line of sight over all the product launches from One to Many in the same workspace - which enables improved team communication and collaboration</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dark-bg-light featuresblocks">
        <div class="container">
            <div class="featuresblock-left">
                <div class="row">
                    <div class="col-lg-5"><img src="../../assets/images/dashabord.png" class="img-fluid"/></div>
                    <div class="col-lg-7 align-self-center">
                        <h4>Region Management</h4>
                        <p>Global companies operate in and across many geographical regions, which creates complexity arising from cultural and compliance challenges. Lylli Launch Tools is the bridge between Global and Local operating offices. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featuresblocks">
        <div class="container">
            <div class="featuresblock-left">
                <div class="row">
                    <div class="col-lg-5 order-lg-last"><img src="../../assets/images/dashabord.png" class="img-fluid"/></div>
                    <div class="col-lg-7 align-self-center">
                        <h4>Workstream Management</h4>
                        <p>Every workstream comes with unique challenges to overcome which Lylli helps to manage given that it powers a common workspace for all workstreams. Lylli Launch Tools by design has operating firewalls which maintains intra-team confidentiality.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dark-bg-light featuresblocks">
        <div class="container">
            <div class="featuresblock-left">
                <div class="row">
                    <div class="col-lg-5"><img src="../../assets/images/dashabord.png" class="img-fluid"/></div>
                    <div class="col-lg-7 align-self-center">
                        <h4>Role Management</h4>
                        <p>Lylli Launch Tools allows for admins to quickly assign and re-assign team members to specific roles as needed which helps with role clarity within a team.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featuresblocks">
        <div class="container">
            <div class="featuresblock-left">
                <div class="row">
                    <div class="col-lg-5 order-lg-last"><img src="../../assets/images/dashabord.png" class="img-fluid"/></div>
                    <div class="col-lg-7 align-self-center">
                        <h4>User Management</h4>
                        <p>Lylli Launch Tools allows for admins to easily add and remove team members as needed which helps to get the project up and running quickly.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dark-bg-light featuresblocks">
        <div class="container">
            <div class="featuresblock-left">
                <div class="row">
                    <div class="col-lg-5"><img src="../../assets/images/dashabord.png" class="img-fluid"/></div>
                    <div class="col-lg-7 align-self-center">
                        <h4>Communication</h4>
                        <p>The best teams in the world are the ones that communicate effectively. Lylli Launch Tools enables fast and easy communication through our team chat feature which allows team members to instant message each other in real time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="featuresblocks">
        <div class="container">
            <div class="featuresblock-left">
                <div class="row">
                    <div class="col-lg-5 order-lg-last"><img src="../../assets/images/dashabord.png" class="img-fluid"/></div>
                    <div class="col-lg-7 align-self-center">
                        <h4>Track & Monitor</h4>
                        <p>What doesn't get measured, doesn't get done. Lylli Launch Tools enables measurement of KPIs through its visual charts - Kanban Charts, Gantt Charts, Dashboard and Task List views.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<app-footer></app-footer>
