<app-header></app-header>

<div class="about-container">
    <div class="abBanner">
        <div class="container-xxl">
          <div class="d-lg-flex align-items-center">
              <div class="abheroimg order-last"><img src="../../assets/images/ab-hero.png"/></div>
              <div class="abba-txt">
                  <h2>What happens when a Pharma Industry Veteran teams up with a Product Development Technowhiz</h2>
              </div>
          </div>
        </div>
    </div>

    <div class="ourStory">
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
                <h2 class="mb-4 text-center">Our Story</h2>
                <h4>Lynn Donaldson:</h4>
                <p>My mission of people first, people always can be traced back to when I was an infant diagnosed with colic. It was through the bravery, expertise, and medical insight of one field doctor that saved my life when he gave me an unusually high dose of medication.</p>
                <p>Having grown up with a mother who was a nurse, I've always been nurtured to care for people and to strive to contribute to the lives of patients around the world.</p>
                <p>I've been in the healthcare and medical industry for over 30 years, expanding my expertise across a host of areas, including research, pharmaceutical and medical device sales, clinical trial technologies, medical communications, and launch marketing strategy.</p>
                <p>That's why now, I am honored to be able to partner with Medical Affairs leaders in mid-sized life science companies to successfully launch their valuable products to the patients that need them the most to enjoy the best quality of life.</p>
                <p>When working with ConnectA Strategy clients on their launch strategy I started to notice that when it comes to the actual planning, they often struggle to pull it together into a cohesive plan that they can easily share with others including the leadership team. This got me thinking about a better way to solve this often chronic challenge that clients run into. </p>
            <p>Rajiv and I have been friends for a long time, and, given his background in product development and technology, I was confident we could develop a solution when combining our efforts and talents, given that we shared common values about consistently delivering client satisfaction and delight.</p>
            </div>
        </div>

        <div class="mt-5">
            <h4>Rajiv Jadhav:</h4>
            <p>As Lynn and I talked more, I started to think back on my days in product design and development at one of Asia's largest media conglomerate, The Times Group  - where I was tasked with dreaming up web based products to serve the global Non-Resident Indian (NRI) market in Europe, North America, Middle East & North Africa, South-East Asia & Australia. </p>
            <p>The web based products I designed allowed the Indian expat community (NRI) to remit money to their loved ones back home, invest in real estate, purchase gifts and tourism packages - all from the comfort of a secure web-based ecommerce portal. My mission was to figure out the solutions which would enrich the customers lives and then bring them to life by collaborating with technology and development teams. </p>
            <p>Given my expertise in product development coupled with Lynn's keen insight, we were confident we could create something truly unique for clients, and immediately embarked on the the journey to bringLylli Launch Tools  to life. </p>
            <p>We taken a lot of care to ensure that your product launch goes smoothly, with team alignment powered byLylli Launch Tools .  We know you'll enjoy usingLylli Launch Tools . We're toasting your successful product launch!</p>
        </div>
        </div>
    </div>

    <div class="partnerBIo">
        <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../assets/images/Rajiv.png"/>
            </div>
            <div class="col-lg-6">
                <h4 class="mt-4 mt-lg-0">Rajiv Bio</h4>
                <p>Rajiv Jadhav is the Founder & CEO of Rsquare Media Inc. - an award winning minority certified online visibility and reputation management firm that helps clients Be Seen or Not Be Seen online. Rsquare Media was awarded the prestigious Minority Business of the Year award in 2017 in the company of ConEdison & MTA at a gala event in Manhattan. Rsquare Media won the award in recognition of all its efforts to bring innovation in Internet Marketing to small and minority owned businesses.</p>
                <p>Prior to Rsquare Media Rajiv served in leadership roles at various Fortune 500 companies helping organizations like Times Group, Citi, Unilever, Marriott, Disney, Procter & Gamble, etc. innovate and reimagine new ways of achieving optimal brand-consumer interaction and engagement in the pursuit of customer acquisition objectives. </p>
            </div>
    </div>
    <p class="mt-4">Rajiv is very active in the social impact space having served as Partner, Mentor, Advisory Board Member, Faculty to the Small Business Administration (SBA), SBDC, New York Department of Labor, Uniondale Chamber of Commerce, Hempstead Chamber of Commerce, and various accelerators/incubators in the New York Metro Area. Rajiv was invited to speak at the United Nations on the role of coaching & technology to solve homelessness, which resulted in the Country of Malawi (Africa) requesting his assistance to help them solve child homelessness. Following this ask, Rajiv setup his non-profit Bright Now to empower youth and young leaders through coaching and technology. Lynn Donaldson, Rajiv's business partner and friend, serves on the Board of Advisors at Bright Now since she believes that technology enables innovation, advancement and sustainability.</p>


    <div class="row mt-5">
        <div class="col-lg-6 order-lg-last">
            <img src="../../assets/images/Lynn.png"/>
        </div>
        <div class="col-lg-6">
            <h4 class="mt-4 mt-lg-0">Lynn Bio</h4>
            <p>Lynn Donaldson is the founder and CEO of ConnectA Strategic Solutions Group.</p>
            <p>From the pharmacology research lab to clinical data management, I have spent my 25+ year career partnering with companies to develop, launch, and market their products in the pharmaceutical and life sciences sectors.</p>
            <p>Yet, despite the incredible work being done within the industry, I noticed one glaring challenge: 60% of product launches were failing - and they often had NOTHING to do with the drug/product's safety.</p>
            <p>With my diverse background in mental resilience, team performance, pharmaceutical research, compliance management, and project development, I founded ConnectA Strategic Solutions Group to provide 360-degree consultant services to dramatically increase launch success - from start to finish.</p>
        </div>
</div>
<p class="mt-4">Over the past 10 years, we have been able to empower product launch teams to not just hit their launch goals but to mitigate delays, decrease communication challenges, and remain mentally resilient throughout the entire process.</p>
<p>By offering full-scale guidance every step of the way - combining mindset, team performance, strategies, and execution support so launch teams can reach 10-figure results.</p>
<p>My philanthropic passion includes being on the Advisory Board of Rajiv's non-profit Bright Now and supporting other non-profits such as Marici (against human trafficking), The Tony Robbins Foundation (Feeding Americans), and I was part of two seperate groups that recently raised huge donations for treating preventable causes of blindness and the rescue of horses and other animals.</p>

    </div>
</div>

<div class="map-world">
  <object data="../../assets/images/World.svg" type="image/svg+xml" width="100%" class="svgheight">
    Your browser can't display SVG graphics.
    </object>
</div>

<section class="ourclients">
    <div class="container">
      <h3>Happy Clients</h3>
  
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="./assets/images/Bright-Now.png" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/Concept-1-blk_no-bkgd_sm.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/ConnectA_Logo.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/ConnectAStrategy.png" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/Dynamite.png" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/integris_logo_email_200.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/LSX _Small.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/MBI-Green.jpeg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/rsquare.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/Bright-Now.png" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/Concept-1-blk_no-bkgd_sm.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/ConnectA_Logo.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/ConnectAStrategy.png" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/Dynamite.png" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/integris_logo_email_200.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/LSX _Small.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/MBI-Green.jpeg" alt="" />
          </div>
          <div class="slide">
            <img src="./assets/images/rsquare.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="bg-light section-padd ourvalueContainer">
    <div class="container">
      <div class="text-center heading-w mb-5">
        <h2>Our Values</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="orvaluebox my-4">
            <div class="value-img"><img src="./assets/images/clarity.svg" /></div>
            <h3>Clarity</h3>
            <p>Our aim is make to things as easy to use as possible. Life is already complex, your product launch
              shouldn't be.</p>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="orvaluebox my-4">
            <div class="value-img"><img src="./assets/images/caring.svg" /></div>
            <h3>Caring</h3>
            <p>Just as you care for your patients, we care for your ability to be able to continuously make their lives
              better</p>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="orvaluebox my-4">
            <div class="value-img"><img src="./assets/images/connection.svg" /></div>
            <h3>Connection</h3>
            <p>We connect with our clients on a deeper level to best align with their culture of success</p>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="orvaluebox my-4">
            <div class="value-img"><img src="./assets/images/conti.svg" /></div>
            <h3>Continuous</h3>
            <p>Continuous Improvement (Kaizen) is the philosophy that drives us and motivates us to do better each day</p>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="orvaluebox my-4">
            <div class="value-img"><img src="./assets/images/collaboration.svg" /></div>
            <h3>Collaboration</h3>
            <p>Collaboration starts from Day One, we're a partner not a vendor</p>
          </div>
        </div>
  
      </div>
    </div>
  </section>

  <section class="faq-cta">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center">
          <div class="text-center">
                <h3>Join our Team</h3>
               
                <p>email us on <a href="mailto:lylli.cares@lyllilaunchtools.com">lylli.cares@lyllilaunchtools.com</a> with subject line ‘careers'<br>or use our <a routerLink="/contact">contact form</a></p>
          </div>
      </div>
    </div>
  </section>

  <div class="faqcontainer container">
    <div class="text-center heading-w mb-5">
      <h4>Current Openings</h4>
    </div>
      <div class="collapsiblePanel">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Social Media Interns</mat-panel-title>
              </mat-expansion-panel-header>
              <h5>This is a remote opportunity. No travel required. </h5>
              <ul class="list-unstyled">
                  <li>- Candidates must be available for at least 7 hours a week</li>
                  <li>- This internship can be used as ‘for-credit' internship</li>
                  <li>- Internship starts as unpaid and then converts to paid position with the candidate meets our standard of producing error-free work unsupervised.</li>
                  <li>- No prior experience needed.</li>
                  <li>- Training & mentoring will be provided</li>
                  <li>- Flexible working hours including evenings and weekends</li>
                  <li>- Candidates may apply during Summer, Fall, Spring semesters</li>
                  <li>- Interviews are over video call using Google meet or zoom - where candidates may use their smartphone or computer to participate</li>
              </ul>
            </mat-expansion-panel>
        </mat-accordion>
      </div>
  </div>

</div>

<app-footer></app-footer>
