.secuBanner {
    padding: 40px 0 !important;
}

.livedemocon.container {
    max-width: 991px;
    h4 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 50px;
    }
}

.lived-con {
    background: #1a3989;
    text-align: center;
    h2 {
        text-transform: uppercase;
        color: #fff;
        padding: 0 30px;
        font-size: 16px;
    }
}