<app-header></app-header>
<section class="">
  <div class="hero-area">
    <!-- <div class="curve curve-bottom"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-last">
          <div class="hero-image">
            <img src="./assets/images/hero-image.png" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-6">
          <h1>Align your whole team with the Launch Strategy top down and bottom up seamlessly</h1>
          <p>LylliLaunchTools helps you gain visibility and control of Goals, Objectives, Strategy, Tactics and Key
            Activities related to a successful Product Launch</p>
          <a href="#" class="btn btn-secondary rounded-pill" routerLink="/signup">Start free trial</a>
        </div>
      </div>
    </div>
  </div>

</section>



<section class="ourclients">
  <div class="container">
    <h3>Happy Clients</h3>

    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="./assets/images/Bright-Now.png" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/Concept-1-blk_no-bkgd_sm.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/ConnectA_Logo.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/ConnectAStrategy.png" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/Dynamite.png" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/integris_logo_email_200.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/LSX _Small.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/MBI-Green.jpeg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/rsquare.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/Bright-Now.png" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/Concept-1-blk_no-bkgd_sm.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/ConnectA_Logo.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/ConnectAStrategy.png" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/Dynamite.png" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/integris_logo_email_200.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/LSX _Small.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/MBI-Green.jpeg" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/images/rsquare.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="" #carouselHolder>
      <owl-carousel-o [options]="clientsSlider" *ngIf="isCarouselmatdrawerVisible">
      </owl-carousel-o>
    </div>
  </div>
</section>

<section class="bg-light section-padd productviewSection">
  <div class="container">
    <div class="text-center heading-w">
      <h2>A Product Launch Support Tool Designed<br>Specifically for Pharma & Life Science Clients</h2>
      <p>Our management team has supported 100s of Product Launches in the past 30 years and knows what is needed to execute a successful product launch. There was a piece of the puzzle missing which was a tool to capture, track & control all elements of the strategic plan. Inspired by our client's frustrations and struggles, we designed Lylli Launchpad to be the answer they were long awaiting</p>
    </div>

    <div class="managementSlider">
      <div id="ProductViewSlider" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#ProductViewSlider" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1">Roadmaps<span></span></button>
          <button type="button" data-bs-target="#ProductViewSlider" data-bs-slide-to="1"
            aria-label="Slide 2">Prioritization<span></span></button>
          <button type="button" data-bs-target="#ProductViewSlider" data-bs-slide-to="2"
            aria-label="Slide 3">Communication<span></span></button>
          <button type="button" data-bs-target="#ProductViewSlider" data-bs-slide-to="3"
            aria-label="Slide 4">Reporting<span></span></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption">
              <p>Align everyone on your teams and easily tailor roadmaps for anyone in a few clicks.</p>
              <a href="#">Explore Roadmaps <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="proviewimage">
              <img src="./assets/images/fre.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>Prioritize those elements of strategy & keep them on track.</p>
              <a href="#">Explore Prioritization <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="proviewimage">
              <img src="./assets/images/fre.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>Facilitate quick & seamless communication & collaboration between team members.</p>
              <a href="#">Explore Communication <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="proviewimage">
              <img src="./assets/images/fre.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <p>Provide quick overview of project status to senior management.</p>
              <a href="#">Explore Reporting <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="proviewimage">
              <img src="./assets/images/fre.png" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<!--<section class="py-5">
  <div class="container">
    <div class="text-center">
      <h2>Select Your Plan</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida,<br>quis tincidunt
        purus fringilla. Aenean convallis a neque non pellentesque.</p>
    </div>

    <div class="plan-table">
      <div class="form-check form-switch text-center btn-t">
        <input class="form-check-input text-center input-t" (change)="package($event,'1')" type="checkbox"
          id="flexSwitchCheckChecked" [checked]="checked">
        <label class="form-check-label" for="flexSwitchCheckChecked"></label>
      </div>
      <div class="row">
        <div class="col-lg-4" *ngFor="let package of packageList ">
          <div class="plan-box">
            <h3>{{package.packageName}}</h3>
            <div class="pricep" *ngIf="showAnuual==false">
              $ {{package.userMonthlyPrice}}<span>Per Month</span>
            </div>
            <div class="pricep" *ngIf="showAnuual==true">
              $ {{package.annualPrice}}<span>Annual Price</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem nunc, semper sed metus at, lacinia
              viverra leo.</p>

            <ul class="list-unstyled plan-benifits">
              <li>{{package.userCount}} User Per Month</li>
              <li>Price Per User Per Month Billed Annually</li>
              <li>Annual Fee for Team (Billed Annually)</li>
              <li>Price Per Additional User Per Month Billed Annually</li>
              <li>Price Per Additional User Per Month Billed Monthly</li>
            </ul>
            <div class="plan-btn">
              <a href="#" class="btn btn-primary">Subscribe Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan-box popular-plan">
            <h3>Most Popular</h3>
            <div class="pricep">
              $99<span>Per Month</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem nunc, semper sed metus at, lacinia
              viverra leo.</p>

            <ul class="list-unstyled plan-benifits">
              <li>10 User Per Month</li>
              <li>Price Per User Per Month Billed Annually</li>
              <li>Annual Fee for Team (Billed Annually)</li>
              <li>Price Per Additional User Per Month Billed Annually</li>
              <li>Price Per Additional User Per Month Billed Monthly</li>
            </ul>
            <div class="plan-btn">
              <a href="#" class="btn btn-primary">Subscribe Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="plan-box">
            <h3>Premium</h3>
            <div class="pricep">
              $199<span>Per Month</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem nunc, semper sed metus at, lacinia
              viverra leo.</p>

            <ul class="list-unstyled plan-benifits">
              <li>5 User Per Month</li>
              <li>Price Per User Per Month Billed Annually</li>
              <li>Annual Fee for Team (Billed Annually)</li>
              <li>Price Per Additional User Per Month Billed Annually</li>
              <li>Price Per Additional User Per Month Billed Monthly</li>
            </ul>
            <div class="plan-btn">
              <a href="#" class="btn btn-primary">Subscribe Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

<section class="section-padd dark-bg testimonials">
  <div class="container">
    <h2 class="text-center text-light">Happy customers</h2>
    <div class="testimonials-slider">
      <owl-carousel-o [options]="testimonialSlider" *ngIf="isCarouselmatdrawerVisible">
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimobials-box">
              <div class="row">
                <div class="col-lg-5">
                  <div class="client-pic"><img src="./assets/images/t1.png" /></div>
                </div>
                <div class="col-lg-7">
                  <div class="d-flex align-items-center h-100">
                    <div class="mt-3 mt-lg-0">
                      <p>“It simplified our entire launch process.”</p>
                      <span>Drake, Director, Logistics </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimobials-box">
              <div class="row">
                <div class="col-lg-5">
                  <div class="client-pic"><img src="./assets/images/t2.png" /></div>
                </div>
                <div class="col-lg-7">
                  <div class="d-flex align-items-center h-100">
                    <div class="mt-3 mt-lg-0">
                      <p>“Lylli Launchpad saved the day and helped us get back on track with our product launch.”</p>
                      <span>Tim, Director, Marketing </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimobials-box">
              <div class="row">
                <div class="col-lg-5">
                  <div class="client-pic"><img src="./assets/images/t3.png" /></div>
                </div>
                <div class="col-lg-7">
                  <div class="d-flex align-items-center h-100">
                    <div class="mt-3 mt-lg-0">
                      <p>“I love to see all the product information in one place.”</p>
                      <span>Rhonda, Team Lead/Global Admin </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimobials-box">
              <div class="row">
                <div class="col-lg-5">
                  <div class="client-pic"><img src="./assets/images/t4.png" /></div>
                </div>
                <div class="col-lg-7">
                  <div class="d-flex align-items-center h-100">
                    <div class="mt-3 mt-lg-0">
                      <p>“Love the reports this tool generates.”</p>
                      <span>Vikram, VP, Medical Affairs</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimobials-box">
              <div class="row">
                <div class="col-lg-5">
                  <div class="client-pic"><img src="./assets/images/t5.png" /></div>
                </div>
                <div class="col-lg-7">
                  <div class="d-flex align-items-center h-100">
                    <div class="mt-3 mt-lg-0">
                      <p>“Its an awesome tool. Helped us get back on track, fast.”</p>
                      <span>Krisztin, Project Management
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
       
      </owl-carousel-o>
    </div>
  </div>
</section>

<section class="bg-light section-padd ourvalueContainer">
  <div class="container">
    <div class="text-center heading-w mb-5">
      <h2>Our Values</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="orvaluebox my-4">
          <div class="value-img"><img src="./assets/images/clarity.svg" /></div>
          <h3>Clarity</h3>
          <p>Our aim is make to things as easy to use as possible. Life is already complex, your product launch
            shouldn't be.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="orvaluebox my-4">
          <div class="value-img"><img src="./assets/images/caring.svg" /></div>
          <h3>Caring</h3>
          <p>Just as you care for your patients, we care for your ability to be able to continuously make their lives
            better</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="orvaluebox my-4">
          <div class="value-img"><img src="./assets/images/connection.svg" /></div>
          <h3>Connection</h3>
          <p>We connect with our clients on a deeper level to best align with their culture of success</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="orvaluebox my-4">
          <div class="value-img"><img src="./assets/images/conti.svg" /></div>
          <h3>Continuous</h3>
          <p>Continuous Improvement (Kaizen) is the philosophy that drives us and motivates us to do better each day</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="orvaluebox my-4">
          <div class="value-img"><img src="./assets/images/collaboration.svg" /></div>
          <h3>Collaboration</h3>
          <p>Collaboration starts from Day One, we're a partner not a vendor</p>
        </div>
      </div>

    </div>
  </div>
</section>


<app-footer></app-footer>

