<div class="login-container">
    <div class="d-lg-flex h-100">

        <div class="bg-box order-1">
            <div class="bg-txt">
                <img src="./assets/images/login-image.svg" class="img-fluid" />
            </div>
        </div>

        <div class="login-box">
            <div class="d-flex h-100">
                <div class="align-self-center login-content">
                    <div class="login-logo" routerLink="/"><img src="./assets/images/logo.png" /></div>
                    <h2>Forgot Password<span>Please enter your email to forgot password.</span></h2>
                    <div class="login-f">
                        <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="username">Email Address</label>
                                <i class="icon-user icons"></i>
                                <input type="email" class="form-control" id="email" formControlName="email"
                                    placeholder="Enter Your Email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email id is required</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                            <div class="forgot-pass">Have an Account <a type="button" routerLink="/login">Login
                                    Here</a></div>
                        </form>
                    </div>

                    <div class="footer-con">Copyright © 2021 Lylli Launchpad</div>
                </div>
            </div>
        </div>
    </div>
</div>